
html{
    font-size: 15px;
    background-color: #a9a9a9;
    text-align: center;
    float: inherit;
    align-items: center;
    width: 100%;
    height: 100%; 
    display: flex;
    text-align: center;
    justify-content: center;
  font-family: Open Sans, Helvetica Neue;
}

body{
    width: 70%;
    margin: 0 auto;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: #2a2a2a;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a2a2a;
  }

  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  /*  PfeilIcos */

  #zurueckPfeilIcon{
	position: absolute;
	left: 15px;
	top: 15px;	
	color: #fff;
	cursor: pointer;
	font-size: 30px;
    transition: 0.5s;
  }

  #zurueckPfeilIcon:hover{
	transition: 0.5s;
    transform: translateX(-2px);
}

/* entfernt die pfeile am input */
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#eingabeDerZeit p{
	color: #fff;
	font-size: 35px;
	margin: 10px;
}

#weiterBtn{
	width: 300px;
    color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
    background-color: #09a7e6;
    border-style: solid;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s;
    font-family: Open Sans, Helvetica Neue;
}

#weiterBtn:hover{
    cursor: pointer;
    background-color: #c35104;
    transition: 0.5s;
    transform: translateY(-2px);
}

.button1{
  color: white(243, 10, 10);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0px;
  background-color: dimgray;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
}

.button1:hover{
  cursor: pointer;
  background-color: #4F4F4F;
}

.button1:active{
  transform: translateY(2px);
}
/* Countdown */

#countdownContainer p{
	color: #fff;
	margin-bottom: 0px;
}

#countdownContainer h1{
	color: #fff;
	margin-bottom: 0px;
	margin-top: 0px;
}

#countdownContainer small{
	color: rgb(255, 255, 255);
}

#timer6er, #endDate6er{
	display: none;
}

.switchTimerArrows{
	position: absolute;
	top: calc(50% - 5px);
	left: calc(50% - 14px);
	font-size: 28px;
	color: #fff;
}

#linkerTimerPfeilIcon{
	margin-left: -200px;
	cursor: pointer;
	transition: 0.5s;
}

#linkerTimerPfeilIcon:hover{
	transition: 0.5s;
    transform: translateX(-1px);
}

#rechterTimerPfeilIcon{
	margin-left: 200px;
	cursor: pointer;
	transition: 0.5s;
}

#rechterTimerPfeilIcon:hover{
	transition: 0.5s;
    transform: translateX(1px);
}
    
  /* || header layout */

  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  

